<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Ada" class="org.apache.log4j.FileAppender">
        <param name="file" value="logs/ada.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-6p] %c - %m%n" />
        </layout>
    </appender>
    <root>
        <priority value="trace" />
        <appender-ref ref="Ada" />
    </root>
</log4j:configuration>
